<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>

<body>
    <h1>Hello, World!</h1>
    <h1><%= abc %></h1>
    <h1><%= locals.c %></h1>

    <% for(let i = 0; i < 5; i++) { %>
        <%= 'Hello' %>
    <% } %>

    <ul>
    <% for(item of array) { %>
        <li><%= item %></li>
    <% } %>
    </ul>

</body>

</html>
